body {
    background-color: #010409;
}

.container {
    text-align: center;
    color: #c6ced5;
}

.btn-primary,
.btn-primary:hover,
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background-color: #0d1117;
    border-color: #0d1117;
    color: #c6ced5;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background-color: #0d1117;
    border-color: #0d1117;
    box-shadow: 0 0 0 0.25rem #a0a0a0;
    color: #c6ced5;
}

.form-control {
    color: #0d1117;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem #a0a0a0;
    color: #0d1117;
}

.card {
    background-color: #0d1117;
    color: #c6ced5;
    max-height: 300px;
}

hr {
    margin: 20px 0px;
    background-color: #0d1117;
}

.simplebar-scrollbar::before {
    background-color: #0d1117;
}

.simplebar-horizontal {
    visibility: hidden !important;
}

.simplebar-vertical {
    right: -11px;
}

[data-simplebar] {
    max-height: calc(70vh - 30px);
}

.card-footer {
    border-color: #c6ced5;
}

.pointer:hover {
    cursor: pointer;
}

.modal-content {
    background: #0d1117;
    color: #c6ced5;
}