body {
    background-color: #222831;
}

.container {
    text-align: center;
    color: #eeeeee;
}

.card {
    background-color: #393e46;
    color: #eeeeee;
    height: 175px;
}

hr {
    margin: 20px 0px;
    background-color: #393e46;
}

.simplebar-scrollbar::before {
    background-color: #393e46;
}

.simplebar-horizontal {
    visibility: hidden !important;
}

.simplebar-vertical {
    right: -11px;
}

[data-simplebar] {
    max-height: calc(70vh - 30px);
}

.card-footer {
    border-color: #eeeeee;
}

.pointer:hover {
    cursor: pointer;
}

.modal-content {
    background: #393e46;
    color: #eeeeee;
}
